// ======================================================
// Fonts
// ======================================================

@font-face {
    font-family: "NeueBit";
    src: 
        url("../fonts/NeueBit-Bold.woff2") format("woff2"), 
        url("../fonts/NeueBit-Bold.woff")  format("woff");
    font-weight: 700;
}