// ======================================================
// Variables
// ======================================================

// Colors
$red-color: #FD4000;
$black-color: #050505;
$white-color: #FFF;

// Easings
$ease-out: cubic-bezier(0.22, 1, 0.36, 1);


// Base
// ======================================================


@import './base.scss';
@import './preloader.scss';
@import './fonts.scss';
@import './slides.scss';
@import './buttons.scss';
@import './labels.scss';



//// ANIMATIONS UTILS
.line-wrapper {
    display: block;
    overflow: hidden;

    .line {
        display: block;
        position: relative;
        transform: translateY(100%);
    }
}